.strategies {
  padding: 30px 0 60px 0;
}

.strategies__title {
  margin: 0 0 14px;
  @include media-tablet {
    text-align: center;
  }
}

.strategies__description{
  margin: 0 0 24px;
  @include media-tablet {
    text-align: center;
  }
}

.block-shadowed {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.strategies-wrapper {
  > * {
    margin-bottom: 30px;

    @include media-tablet {
      flex-basis: 48%;
    }
  }
}

.strategy-content {
  padding: 24px 33px 26px;
}

.tags {
  @include media-tablet {
    justify-content: center;
  }
}

.strategy {
  display: flex;
  flex-direction: column;
  @include media-tablet {
    overflow: hidden;
  }

  @include media-mobile {
    flex-basis: 100%;
  }
}

.strategy-content {
  @include media-tablet {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.strategy__name {
  flex-grow: 1;
}
