.tools__title {
  max-width: 462px;
  text-align: center;
  margin: 0 auto 70px;
}

.tool__title {
  margin-bottom: 16px;
  margin-top: 30px;
}

.tools-button {
  margin-top: 60px;
  text-align: center;

  @include media-mobile {
    margin-top: 0;
  }
}

.tools__wrapper {
  background-image: url('../../assets/icons/tools-background.png');
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.tool-container {
  @include media-tablet {
    flex-wrap: wrap;
    .tool {
      flex-basis: 43%;
      text-align: center;
    }
  }

  @include media-mobile {
    .tool {
      flex-basis: 100%;
      margin-bottom: 47px;
    }
  }
}
