.footer__wrapper {
  display: flex;

  padding-top: 34px;

  @include media-tablet {
    flex-direction: column;
  }
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;

  @include media-tablet {
    padding-left: 0;
    margin-top: 34px;
  }

  @include media-mobile {
    flex-direction: column;
  }
}

.footer-navigation__title {
  margin: 0 0 15px;
}

.footer-navigation__links {
  @extend %font-add;
  list-style: none;
  padding-left: 0;
  a {
    color: $color-text;
    text-decoration: none;
    @extend %transition;
    @include font(1.6rem, 3.5rem, normal);
    &:hover {
      color: $color-primary;
    }
  }
}
