@mixin font($size, $line-height: $size, $weight: bold, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $line-height;
}


@mixin columns($col-width) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > * {
    flex-basis: $col-width;
  }

}
