%transition {
  transition: all .3s ease-out;
}

%font-add {
  font-family: Poppins, Verdana, sans-serif;
}

%font-prim {
  font-family: "Open Sans", Verdana, sans-serif;
}

%hamburger-line {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: $color-hamburger;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}
